body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lavender;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.survey:hover {
  background-color: lavender;
}

.survey {
  border: 4px solid #3EB489;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  background-color:salmon;
  border-radius: 20px;
  cursor: pointer;
}

.survey > h3 {
  margin: 1rem;
}

.survey-details > h2 {
  margin-top: 1rem;
}

.survey-form > h2 {
  margin-top: 1.5rem;
}

.edit-survey > h2 {
  margin-top: 1.5rem;
}

.survey-list > h4 {
  margin-top: 1.5rem;
}

.main-btn {
  margin-top: 20px;
  border: 2px solid black;
  background-color: #3EB489;
  font-weight: bold;
  border-radius: .25rem;
}

.signout-btn {
  margin-top: 15px;
  border: 2px solid black;
  background-color: rgb(232, 2, 2);
  font-weight: bold;
  border-radius: .25rem;
}

/* button:hover {
  background-color: lavender;
} */

button {
  border: 2px solid black;
  background-color: #3EB489;
  font-weight: bold;
  border-radius: .25rem;
  margin: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.details-btn {
  border: 2px solid black;
  background-color: #3EB489;
  font-weight: bold;
  border-radius: .25rem;
  margin: 5px;
  margin-top: 20px;
}

.edit-btn {
  border: 2px solid black;
  background-color: dodgerblue;
  font-weight: bold;
  border-radius: .25rem;
  margin: 5px;
  margin-top: 20px;
}

.delete-btn {
  border: 2px solid black;
  background-color: red;
  font-weight: bold;
  border-radius: .25rem;
  margin: 5px;
  margin-top: 20px;
}

textarea {
  width: 50%;
  height: 5rem;
}

.answers-list {
  height: auto;
  margin: 20px;
  padding: 10px;
  border: solid 3px  #3EB489;
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: center;
  border: 5px solid  #3EB489; 
  padding: 10px;
  padding-left: 5vw;
  padding-right: 5vw;
  margin: 10px;
  border-radius: 20px;
  height: 80px;
  text-align: center;
}

.link {
  margin: 1rem;
}

#links {
  text-align: center;
  margin: auto; 
}

#header-name {
  text-align: center;
  margin: auto;
}

.survey-control {
  text-align: center;
}

.sign-in {
  padding-top: 20px;
  text-align: center;
}

textarea {
  text-align: center;
}

input {
  text-align: center;
}

#curr-user {
  text-align: center;
  margin: auto;
}

.messageEmail {
  font-size: 16px;
}

